---
import { getTranslationFunctionFromSetLocale, type Locale } from "../../i18n/ui"

type Props = {
  lang: Locale
}

const { lang } = Astro.props

const translate = getTranslationFunctionFromSetLocale(lang)

const experiences = [
  {
    icon: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M6 22q-.825 0-1.413-.588T4 20V10q0-.825.588-1.413T6 8h1V6q0-2.075 1.463-3.538T12 1q2.075 0 3.538 1.463T17 6v2h1q.825 0 1.413.588T20 10v10q0 .825-.588 1.413T18 22H6Zm0-2h12V10H6v10Zm6-3q.825 0 1.413-.588T14 15q0-.825-.588-1.413T12 13q-.825 0-1.413.588T10 15q0 .825.588 1.413T12 17ZM9 8h6V6q0-1.25-.875-2.125T12 3q-1.25 0-2.125.875T9 6v2ZM6 20V10v10Z"/></svg>',
    title: translate('section.experience.items.security.title'),
    description: translate('section.experience.items.security.description')
  },
  {
    icon: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20 13c0 2.21-.895 4.21-2.343 5.657l1.414 1.414A9.97 9.97 0 0 0 22 13c0-5.523-4.477-10-10-10S2 7.477 2 13a9.969 9.969 0 0 0 2.929 7.071l1.414-1.414A8 8 0 1 1 20 13Zm-4.707-4.707L10.5 12.5l2 2l4.207-4.793l-1.414-1.414Z"/></svg>',
    title: translate('section.experience.items.speed.title'),
    description: translate('section.experience.items.speed.description')
  },
  {
    icon: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256"><path fill="currentColor" d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24Zm0 192a88 88 0 1 1 88-88a88.1 88.1 0 0 1-88 88ZM80 108a12 12 0 1 1 12 12a12 12 0 0 1-12-12Zm96 0a12 12 0 1 1-12-12a12 12 0 0 1 12 12Zm-1.07 48c-10.29 17.79-27.4 28-46.93 28s-36.63-10.2-46.92-28a8 8 0 1 1 13.84-8c7.47 12.91 19.21 20 33.08 20s25.61-7.1 33.07-20a8 8 0 0 1 13.86 8Z"/></svg>',
    title: translate('section.experience.items.easeOfUse.title'),
    description: translate('section.experience.items.easeOfUse.description')
  },
  {
    icon: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.48 7.27c.26.26 1.28 1.33 1.28 1.33l.56-.58l-.88-.91l1.69-1.8s-.76-.74-.43-.45c.32-1.19.03-2.51-.87-3.44C4.93.5 3.66.2 2.52.51l1.93 2l-.51 1.96l-1.89.52l-1.93-2C-.19 4.17.1 5.48 1 6.4c.94.98 2.29 1.26 3.48.87zm6.44 1.94l-2.33 2.3l3.84 3.98c.31.33.73.49 1.14.49c.41 0 .82-.16 1.14-.49c.63-.65.63-1.7 0-2.35l-3.79-3.93zM16 2.53L13.55 0L6.33 7.46l.88.91l-4.31 4.46l-.99.53l-1.39 2.27l.35.37l2.2-1.44l.51-1.02L7.9 9.08l.88.91L16 2.53z" fill="currentColor"/></svg>',
    title: translate('section.experience.items.support.title'),
    description: translate('section.experience.items.support.description')
  }
]
---

<div id="experience" class="max-w-7xl px-4 sm:px-8 2xl:px-0 mx-auto scroll-m-28">
  <h2 class="text-primary text-6xl font-light">
    { translate('section.experience.title') }
  </h2>
  
  <ul class="grid grid-cols-2 gap-4 mt-16">
    {experiences.map(experience => (
      <li class="p-8 space-y-4 bg-[#0f0602] rounded-2xl border border-[#494949]">
        <div class="flex items-center gap-2">
          <Fragment set:html={experience.icon} />
          <span class="text-lg font-medium">
            { experience.title }
          </span>
        </div>
        <p class="opacity-75">
          { experience.description }  
        </p>
      </li>
    ))}
  </ul>
</div>